* {
	box-sizing: border-box;
}

body {
	font-family: Montserrat, sans-serif;
	color:#333333;
	height: 100%;
	font-size: 16px;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: #333333;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1, h3, h3, h4 {
	margin: 0;
	padding: 0;
}

.container{
	max-width: 1770px;
	margin: 0 auto;
}

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 280px;
	height: 78px;
	background-color: #FF9900;
	color: #fff;
	font-family: Montserrat;
	font-size: 23px;
	font-weight: 700;
	line-height: 29px;
	letter-spacing: 0em;
	cursor: pointer;
	border: none;
	border-radius: 16px;

}

.section-header {
	font-family: Montserrat;
	font-size: 48px;
	font-weight: 400;
	line-height: 59px;
	letter-spacing: 0em;
	text-align: left;
}

/* header */

.header {
	max-width: 1920px;
	margin: 0 auto;
	padding: 0 15px 0 15px;
	box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
	border-radius: 0px 0px 32px 32px;
}

.burger {
	display: none;
	background-color: transparent;
	border: none;
}

.header__logo {
	max-width: 225px;
	max-height: 72px;
}

.header img {
	display: block;
	object-fit: cover;
}

.header__container {
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav {
	display: flex;
	margin-left: calc(0px + 555 * ((100vw - 1024px) / (1920 - 1024)));
}

.header__nav_list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
}

.headr__nav_item {
	margin-right: 85px;
	font-weight: 600;
	font-size: calc(16px + 2 * ((100vw - 320px) / (1920 - 320)));
	line-height: 1;
}

/* section-hero */

.section-hero__container {
	margin-top: 50px;
	background-image: url(../img/hero/low-angle-photo-of-balconies-2462015\ 1.jpg);
	background-size: cover;
	height: 620px;
	color: #fff;
	border-radius: 32px;
}

.section-hero__header {
	margin: 0;
	padding-top: calc(60px + (100 - 60) * ((100vw - 320px) / (1920 - 320)));;;
	margin-left: 85px;
	max-width: 837px;
	font-weight: 800;
	font-size: calc(20px + 50 * ((100vw - 320px) / (1920 - 320)));
	line-height: calc(24.38px + (73.14 - 24.38) * ((100vw - 320px) / (1920 - 320)));;;
}

.section-hero__description {
	padding-top: 24px;
	margin-left: 85px;
	max-width: 790px;
	font-weight: 700;
	font-size: calc(12px + 12 * ((100vw - 320px) / (1920 - 320)));
	line-height: calc(14.63px + (24.38-14.63) * ((100vw - 320px) / (1920 - 320)));;
}

.section-hero__btn {
	margin-top: 90px;
	margin-left: 85px;
}

/* about-us */

.section-abuot-us__description {
	max-width: 1235px;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 400;
	line-height: 32px;
	letter-spacing: 0em;
	text-align: left;
}

.section-abuot-us__bottom {
	display: flex;
	justify-content: space-between;
	height: 622px;
}

.section-abuot-us__left {
	position: relative;
	width: 49%;
	height: 100%;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.31) 100%), url('/img/about-us/left/builder.jpg');
	background-repeat: no-repeat;
}

.section-abuot-us__left_bottom {
	display: flex;
	position: absolute;
	color: #fff;
	height: 196px;
	width: 100%;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
}

.section-abuot-us__left_bottom_text {
	max-width: 454px;
	font-size: 16px;
	font-weight: 700;
	line-height: 32px;
	letter-spacing: 0em;
	text-align: left;
}

.section-abuot-us-btn {
	max-width: 175px;
	background-color: transparent;
	border: 3px solid #FF9900;
}

.section-abuot-us__right {
	width: 48%;
}

/* footer */

.footer {
	max-width: 1920px;
	margin: 0 auto;
}

@media (max-width: 1089px){
	.headr__nav_item {
		margin-right: 80px;
	}
}

@media (max-width: 1024px){

	.header {
		padding: 0 50px 0 50px;
	}

	.header__logo {
		display: block;
		max-width: 150px;
		max-height: 48px;
	}

	.header img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.burger {
		display: block;
	}

	.nav {
		display: none;
	}
}

